gym
numpy>=1.15
tensorflow>=1.13.1,<2  # Replace with tensorflow-gpu if you have a GPU
tqdm
git+git://github.com/hill-a/stable-baselines.git#egg=stable-baselines
codecov
pytest
pytest-cov
gin-config
jax>=0.1.25,<0.2.0
jaxlib>=0.1.13,<0.2.0
