gym
numpy>=1.15
pytest
tensorflow-gpu
tqdm

# Now install experimental stable-baselines. (Contains a PPO2 logging
# improvement and merges an experimental action_probabilities
# function needed to evaluate continuous action space probabilities)
#
# TODO: Remove this and replace with official stable-baselines once
# the action_probability patch is merged into stable.
git+git://github.com/sirspinach/stable-baselines.git@action_proba
