absl-py
astor
atari-py
audioread
Box2D
Box2D-kengz
certifi
chardet
Click
cloudpickle
cycler
decorator
dill
future
gast
glob2
grpcio
gym
horovod
idna
joblib
kiwisolver
librosa
llvmlite
Markdown
matplotlib
mock
mpi4py
nltk
numba
numpy>=1.15
nvidia-dali
opencv-python
pandas
pbr
pexpect
Pillow
portpicker
progressbar2
protobuf
psutil
ptyprocess
pyglet
PyOpenGL
pyparsing
python-dateutil
python-speech-features
python-utils
pytz
pyzmq
requests
resampy
sacrebleu
scikit-learn
scipy
seaborn
sentencepiece
six
tensorboard
tensorflow-gpu
termcolor
tqdm
typing
urllib3
Werkzeug
zmq

# Now install stable-baselines.
